<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.core.features.detail" >

    <application>
        <activity android:name=".DetailActivity"
            android:theme="@style/AppTheme.Detail">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="randomuser"
                    android:pathPrefix="/detail"
                    android:scheme="app" />
            </intent-filter>
        </activity>
    </application>
</manifest>
